//
#box{
    width: 100%;height: 100%;min-width: 1377px;
}
#login{
    width: 100%;background-color:#F2F2F2;
    border-bottom:1px solid #EFEFEF;
    .container{height: 35px;}
    .login-t{overflow: hidden;}
    .login-l{
          width: 310px;
          height: 35px;
          line-height: 35px;
          i{margin:0 3px;color:#FA4A99;}
          a{
              color:#000;margin-right:40px;
              &:hover{color:#FA4A99;}
          }
      }
    .login-r{
        line-height: 35px;height: 35px;
        span{margin-right: 30px;}
        a{
            &:hover{color:#FA4A99;}
            margin-right: 30px;
            color:#000;
          }
        a:nth-child(4){margin-right: 30px;}
      }
  }

#top{
    width: 100%;
    .container{height: 165px;}
    .top-l{width: 214px;height: 165px;line-height: 165px;margin-right:300px;}
    .top-c{
        width: 596px;height: 165px;box-sizing:border-box;
        padding-top:59px;
        .ipn1{width: 485px;height: 43px;border:3px solid #FA4B9B;}
        .ipn2{margin-left:0;width: 107px;height: 44px;line-height:43px;color:#fff;font-weight: bold;background-color:#FA4B9B;}
    }
    .top-r{
        width: 219px;height: 165px;padding-top:59px;
        .car{
            width: 180px;height: 43px;box-sizing: border-box;
            .car1{width: 45px;height: 43px;background-color:#FA4B9B;font-size: 24px;text-align: center;color:#fff;padding-top:6px;}
            .car2{width: 135px;height: 43px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ccc;line-height: 43px;font-size: 16px;}
        }
    }
}

#nav{
    width: 100%;
    .container{height: 58px;}
    background-color:#FB3893;color:#fff;font-size:20px;
    .stair{height: 58px;padding:0 36px;
        line-height:58px;
        &:hover{background-color:#EC0971;}
    }
    .nav1{width: 1088px;padding-left:260px;position:relative;}
    .all{position:absolute;left:0;top:-2px;padding-left:29px;width: 260px;height: 60px;padding-top:22px;background-color:#FB3893;font-weight: bold;
        .all01{position:absolute;left:198px;top:16px;font-size:24px;color:#fff;}
        // &:hover .all1{display: block;}
    }
    .shouye{background-color:#EC0971;}
    .zhengpin{position:relative;
        &:hover ul{display:block;}
    }
    
    .thertri{position:absolute;left:125px;top:16px;}
    .zhengpin1{display:none;position:absolute;left:0;top:58px;width: 100%;box-sizing: border-box;background-color: #fff;z-index: 100;}
    .zhengpin1 li{width: 100%;height: 44px;line-height: 44px;border-bottom:1px dashed #ccc;color:#000;text-align:center;
        &:hover{background-color:#FB3893;}
    }
    .all1{width: 259px;height: 740px;box-sizing: border-box;padding:0 10px;
        position:absolute;left:0;top:59px;display:none;
        border:1px solid #ddd;z-index: 100;background-color:#ccc;
        .all2{
            width: 239px;height: 90px;border-bottom:1px dashed #fff;color:#000;
            h3{line-height: 40px;font-size: 20px;color:#FB3893;}
            a{padding:0;margin: 0;font-size: 12px;margin-right:5px;font-weight: normal;color:#000;
                &:hover{color:#FB3893;}
            }
        }
    }
    .all20{
        width: 1089px;height: 490px;background-color:#fff;box-sizing: border-box;
        border:1px solid #eee;position:absolute;left:259px;top:61px;z-index: 100;
        padding:12px 0 0 30px;display:none;
        li{float:left;
            h3{line-height: 44px;font-size: 18px;font-weight: bold;border-bottom:2px solid #E5E5E5;}
        }
    }
    .all201{
        width: 314px;height: 478px;margin-right:36px;color:#000;font-weight: none;
        .all2011{height: 77px;padding-top:12px;font-size:14px;
            span{line-height: 30px;margin-right:18px;}
        }
        .all2012{height: 295px;}
    }
    .all202{width: 305px;height: 478px;
        h3{border-bottom: 0;color:#000;}
        ul{width: 305px;height: 305px;box-sizing: border-box;border-top:1px solid #ccc;border-left:1px solid #ccc;
            li{float:left;width: 100px;height: 100px;border-right:1px solid #ccc;border-bottom:2px solid #ccc;}
        }
    }
}

#mylist{
    width:100%;background-color:#F2F2F0;
    .container{width:1375px;height: 5213px;}
    .option{width: 100%;height: 205px;margin-top:25px;font-size:14px;background-color:#fff;
        li{width: 1342px;height: 50px;border-bottom:1px dotted #F5F5F5;line-height: 50px;}
        a{padding-right:80px;color:#000;} 
    }
    .opt1{display:inline-block;width: 86px;height: 50px;text-align:right;color:#999999;}
    .opt2{margin-left:38px;}

    .rank{
        width: 1343px;height: 55px;background-color:#fff;margin-top:15px;
        li,button{float:left;}
        
        .rank1{background-color:#fff;width: 98px;line-height: 55px;text-align: center;color:#000;border-right:1px solid #F2F2F0;}
        .rank2{width: 185px;height: 55px;line-height:55px;text-align:center;
            input{width: 62px;height: 26px;border:1px solid #C4C4C4;}
        }
        .rank3{
            width: 747px;height: 55px;border-left:1px solid #F2F2F0;
            position:relative;padding-left:32px;line-height: 55px;font-size:16px;
            input{width: 15px;height: 15px;margin-right:10px;}
            span{position:absolute;right:24px;top:0;}
        }
    }
    .fixed5{position:fixed;left:279px;top: 0;margin-top:0;}
    .msg{margin-bottom:90px;}
    .listone{
        width: 100%;height: 4902px;margin-top:13px;
        li{
            float:left;width: 327px;height: 459px;
            background-color:#fff;margin-bottom:18px;margin-right:12px;
            border:2px solid #fff;box-sizing:border-box;
            img{width: 323px;height: 337px;}
            .price{color:#F450A2;font-size: 20px;padding:13px 74px 13px 14px;margin-top:0px;}
            .overprice{color:#888888;font-size: 12px;padding:21px 13px 13px 100px;}
            &:hover{border:2px solid #fa4b9b;}
        }
        li:nth-child(4),li:nth-child(8),li:nth-child(12),li:nth-child(16),li:nth-child(20),li:nth-child(24),li:nth-child(28),li:nth-child(32),li:nth-child(36),li:nth-child(40){margin-right:0;}
        .uname{width: 313px;line-height: 30px;font-size: 20px;color:#7F7F7F;padding-left:10px;}
        
    }
    
}





#bottom{
    background-color:#fff;margin-top:19px;width: 100%;
    box-sizing: border-box;border-top:1px solid #EBEBEB;
    .container{height: 680px;}
    .btm1{height: 171px;width: 1377px;padding:29px 0 0 120px;}
    .btm11{width: 106px;height: 142px;text-align: center;float:left;margin-right:100px;}
    .btm111{font-size: 18px;font-weight: bold;}
    .btm112{font-size: 14px;}

    .btm2{height: 210px;padding:22px 0 0 120px;border-bottom:1px solid #F9F9F9;border-top:2px solid #DCDCDC;}
    .btm21{width: 909px;height: 186px;border-right:2px solid #F5F5F4;}
    .btm211{
        width: 165px;height: 186px;
        h3{font-size:20px;font-weight: bold;line-height: 44px;}
        a{font-size:14px;line-height:34px;color:#000;}
    }
    .btm215{width: 247px;}
    .btm22{width: 318px; height: 186px;padding-left:22px;
        h3{font-size:20px;font-weight: bold;line-height: 44px;margin-bottom:9px;}
        .btm223{width: 78px;height: 131px;margin-right:8px;}
        .btm221{display: block;}
    }
    .btm3{width: 1377px;height: 66px;text-align: center;line-height: 66px;
        a{padding:0 19px;border-right:2px solid #AAAAAA;
            color:#000;
            &:last-child{border-right:0;}
            &:hover{color:#FB3893;}
        }
    }
    .btm4{width: 1377px;height: 143px;text-align: center;}
    .btm41{margin-bottom:5px;}
    .btm42{line-height: 28px;}
    .btm5{width: 1377px;height: 52px;text-align: center;
        a{margin-right:33px;}
    }
}

.fixed{position:fixed;left:135px;bottom:110px;width: 100px;height: 248px;}
.fixed2{
    position:fixed;right:150px;bottom:110px;display: none;
    border:1px solid #ddd;
    border-radius:5px;
    width: 54px;height: 196px;
    li{padding: 7px 0 2px 0;font-size: 12px;text-align: center; color: #333;   border-bottom: 1px solid #e6e6e6;position: relative;}
    .mycar:hover{color:#FC3A94;}
    i{display: block;
        margin: 0 auto; 
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 22px;
        color: #fa4b9b;
        margin-bottom:3px;
    }
    .gotop{width: 54px;height: 28px;background-color:#fa4b9b; border-radius:0 0 5px 5px;
        i{color:#fff;position:absolute;left:14px;bottom:0;}
    }
}